@import "tailwindcss";

:root {
  /* Base colors*/
  --color-bg:#f0f1f1;
  --color-text: #000000;
  --color-subtle: #535353;
  --color-border: rgba(0, 0, 0, 0.1);
  --color-yellow-500: #eab308;
  --color-highlight: #eab308;
  

  /* Buttons, pills, links */           
  --color-link: var(--color-text);   
  --color-link-hover: #ffffff;

  --color-bg-pill: rgba(0, 0, 0, 0.06);       
  --color-bg-pill-hover: rgba(0, 0, 0, 0.11);
  --color-bg-pill-active: rgba(0, 0, 0, 0.16);

  /* Navbar animation background + border */
  --color-nav-bg-animated: rgba(255, 255, 255, 0.5); 
  --color-nav-border: rgba(0, 0, 0, 0.1);
  --color-theme-option-hover-bg: #e2e2e2;      
  --color-theme-option-hover-text: #000000;

  
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  --font-mono: 'Geist Mono Variable', monospace, system-ui;
  --font-serif: 'EB Garamond Variable', serif;

  font-family: var(--font-mono);
  transition: background-color 0.3s, color 0.3s;
}

html.dark {
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-subtle: #a0a0a0;
  --color-border: rgba(255, 255, 255, 0.3);
  --color-yellow-500: #facc15;
  --color-yellow-200: #fde68a;
  --color-highlight: #fde68a;

  --color-link: #ffffff;
  --color-link-hover: #000000;

  --color-bg-pill: rgba(255, 255, 255, 0.08);
  --color-bg-pill-hover: rgba(255, 255, 255, 0.14);
  --color-bg-pill-active: rgba(255, 255, 255, 0.20);   

  /* Navbar animation background + border for dark mode */
  --color-nav-bg-animated: rgba(255, 255, 255, 0.05); 
  --color-nav-border: rgba(255, 255, 255, 0.1);
  --color-theme-option-hover-bg: #303030;      
  --color-theme-option-hover-text: #f3f4f6; 

}
