---
import BaseLayout from "@/layouts/BaseLayout.astro"

import SectionContainer from "@/components/SectionContainer.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import Hero from "@/components/Hero.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import OtherProjects from "@/components/OtherProjects.astro";
import Education from "@/components/Education.astro";
import AboutMe from "@/components/AboutMe.astro";
---

<BaseLayout 
	pageTitle="Portfolio de mariollesta" 
	description="Portfolio personal de mariollesta, desarrollador web con experiencia en tecnologías modernas."
>
	<main class="px-4">
		<SectionContainer id="hero" class="py-16 md:py-36">
			<Hero />
		</SectionContainer>
		<div class="space-y-24">
			<SectionContainer id="projects">
				<SectionTitle>Proyectos destacados</SectionTitle>
				<Projects />
			</SectionContainer>
			
			<SectionContainer id="other-projects">
				<SectionTitle>Otros proyectos</SectionTitle>
				<OtherProjects />
			</SectionContainer>

			<SectionContainer id="experience">
				<SectionTitle>Experiencia laboral</SectionTitle>
				<Experience />
			</SectionContainer>

			<SectionContainer id="education">
				<SectionTitle>Formación académica</SectionTitle>
				<Education />
			</SectionContainer>

			<SectionContainer id="about-me">
				<SectionTitle>Sobre mí</SectionTitle>
				<AboutMe />
			</SectionContainer>
		</div>
	</main>
</BaseLayout>
