---
const personalImageAlt = "Mario Llesta"
---

<article class="flex flex-col items-center justify-center gap-8 text-sm text-[var(--color-subtle)] md:flex-row">
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-[var(--color-text)] [&>p>strong]:font-semibold [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Me llamo Mario Llesta. Empecé en la
            programación durante mi etapa universitaria, en la que me
            <strong>gradué en el Grado en Ingeniería en Tecnologías de Telecomunicación</strong>.
        </p>

        <p>
            Actualmente trabajo en una consultora
            <strong>automatizando el QA de las web principales de Meliá Hotels International</strong>. También he desempeñado roles como administrador de sistemas linux en una empresa de ciberseguridad y como desarrollador software.
        </p>

        <p>
            Como desarollador, mi objetivo es crear aplicaciones 
            <strong>usables y accesibles</strong>, con un enfoque en la experiencia del usuario.  
        </p>
    </div>
</article>
