---
import ThemeToggle from "@/components/ThemeToggle.astro"

const navItems = [
    {
        title: "Proyectos",
        label: "projects",
        url: "/#projects",
    },
    {
        title: "Experiencia",
        label: "experience",
        url: "/#experience",
    },
    {
        title: "Formación",
        label: "education",
        url: "/#education",
    },
    {
        title: "Sobre mí",
        label: "about-me",
        url: "/#about-me",
    },
]
---

<header class="fixed top-0 z-50 w-full mx-auto animate-nav-scroll">
    
    <!-- mobile -->
    <div class="flex md:hidden items-center justify-between px-6 py-2 text-sm font-medium text-[var(--color-nav-text)]">
        <a href="/" class="text-base tracking-tight text-[var(--color-nav-text)]">
            mariollesta
        </a>
    </div>

    <!-- desktop -->
    <div class="hidden md:flex items-center justify-between px-32 py-2 text-sm font-medium text-[var(--color-nav-text)]">
        <a href="/" class="text-base tracking-tight text-[var(--color-nav-text)]">
            mariollesta
        </a>
        <nav class="flex items-center">
            {
                navItems.map((link) => (
                    <a
                        class="relative block px-2 py-2 transition-all after:absolute after:bottom-1 after:left-1/2 after:h-0.25 after:w-0 after:bg-[var(--color-border)] after:transition-all after:duration-300 after:-translate-x-1/2 hover:after:w-[calc(100%-16px)]"
                        aria-label={link.label}
                        href={link.url}
                    >
                        {link.title}
                    </a>
                ))
            }
        </nav>
    </div>

    <div class="absolute right-6 md:right-24 top-1/2 -translate-y-1/2">
        <ThemeToggle />
    </div>

</header>


<script>
    document.addEventListener("astro:page-load", () => {
        const sections = document.querySelectorAll("section")
        const navItems = document.querySelectorAll("header nav a")

        const callback = (entries: any[]) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                navItems.forEach((item) => {
                    if (item.getAttribute("aria-label") == entry.target.id) {
                        item.classList.add("text-blue-500")
                    } else {
                        item.classList.remove("text-blue-500")
                    }
                })
                }
            })
        }

        const observer = new IntersectionObserver(callback, {
            root: null,
            rootMargin: "0px",
            threshold: 0.3,
        })

        sections.forEach((section) => {
            observer.observe(section)
        })

        document.onvisibilitychange = () => {
        if (document.visibilityState === "hidden") {
            observer.disconnect()
        } else {
                sections.forEach((section) => {
                observer.observe(section)
            })
        }
        }
    })
</script>

<style>
    @keyframes nav-shadown {
        0% {
            background-color: transparent;
            box-shadow: none;
            backdrop-filter: none;
        }
        to {
            background-color: var(--color-nav-bg-animated);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                        0 4px 6px -4px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(8px);
        }
    }

    .animate-nav-scroll {
        animation: nav-shadown 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }
</style>
