---
const personalImageAlt = "Mario Llesta";

import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
    <div class="flex items-center gap-8 mb-6">
        <img
            class="rounded-full shadow-sm size-16 shrink-0"
            src="/profile.webp"
            alt={personalImageAlt}
        />
        <h1 class="text-4xl font-bold tracking-tight text-[var(--color-text)]">
            Hola, soy Mario Llesta!
        </h1>
    </div>
    <p class="text-l text-[var(--color-text)] [&>strong]:font-semibold">
        +3 años de experiencia en el sector IT. <strong>Ingeniero de Telecomunicaciones y desarrollador de software</strong> de Toledo, España 🇪🇸.
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="mailto:llesta.mario@gmail.com">
            <MailIcon class="size-4" />
            Contáctame
        </SocialPill>
        <SocialPill href="https://www.linkedin.com/in/mariollesta/">
            <LinkedInIcon class="size-4" />
            LinkedIn
        </SocialPill>
    </nav>
</div>