---
const { href } = Astro.props;
---

<a
    target="_blank"
    href={href}
    role="link"
    class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition rounded-md text-[var(--color-link)] bg-[var(--color-bg-pill)] hover:bg-[var(--color-bg-pill-hover)] focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-[var(--color-ring)] focus-visible:ring-offset-2 active:bg-[var(--color-bg-pill-active)] max-w-fit"
>
    <slot />
</a>
