<a
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
    class="inline-flex items-center justify-center gap-2 px-6 py-2 rounded-md transition text-[var(--color-link)] bg-[var(--color-bg-pill)] hover:bg-[var(--color-bg-pill-hover)] text-md group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-[var(--color-bg-pill-active)]"
>
    <slot />
</a>
