<a
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
    class="inline-flex items-center justify-center gap-2 px-4 py-1 rounded-none transition text-[var(--color-link)] bg-[var(--color-bg-pill)] border border-[var(--color-border-pill)] hover:bg-[var(--color-bg-pill-hover)] hover:border-[var(--color-border-pill-hover)] hover:text-[var(--color-link-hover)] text-md group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-[var(--color-bg-pill-active)]"
>
    <slot />
</a>
